@page "/account/login"

@inject IAuthService AuthService

<PageTitle>@Localizer["Login"]</PageTitle>

<h3>@Localizer["Login"]</h3>

<form id="LoginForm">
    <div class="mb-3">
        <label for="email" class="form-label">@Localizer["Email"]:</label>
        <input id="email" class="form-control" type="email" value="test@test.com" />
    </div>

    <!-- Password -->
    <div class="mb-3">
        <label for="password" class="form-label">@Localizer["Password"]:</label>
        <input id="password" class="form-control" type="password" value="Test123!" />
    </div>

    <!-- Stay logged in -->
    <div class="form-check mb-3">
        <input id="rememberMe" class="form-check-input" type="checkbox" value="checked" />
        <label class="form-check-label" for="rememberMe">@Localizer["StayLoggedIn"]</label>
    </div>

    <!-- Login -->
    <div class="mb-3">
        <button type="submit" class="btn btn-primary btn-block">@Localizer["Login"]</button>
    </div>

    <div id="message" class="mt-3"></div>
</form>

<script>
    document.getElementById('LoginForm').addEventListener('submit', async (event) => {
        event.preventDefault();

        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const isPersistent = document.getElementById('rememberMe').checked;
		const clientType = 1;

        try {
            const response = await fetch('/api/Auth/Login', { // Replace with your actual API endpoint
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ email, password, isPersistent, clientType }),
            });

            if (response.ok) {
                document.getElementById('message').innerHTML = `
                    <div class="alert alert-success">
                        Login successful. Redirecting...
                    </div>`;
                setTimeout(() => {
                    window.location.href = '/';
                }, 1250);
            } else {
                const error = await response.json();
                document.getElementById('message').innerHTML = `
                    <div class="alert alert-danger">
                        ${error.errorMessage}
                    </div>`;
            }
        } catch (err) {
            document.getElementById('message').innerHTML = `
                <div class="alert alert-danger">
                    ${err.errorMessage}
                </div>`;
        }
    });
</script>